a.button(href='/list/restaurants') Restaurants
a.button(href='/list/doctors') Doctors
a.button(href='/list/tips') Tips
a.button(href='/list/users/') Users
a.button(href='/searchRestaurants/') Restaurant Advanced Search
a.button(href='/search/') Restaurants Search
a.button(href='/searchDoctors/') Doctors Search
